{% extends 'calculation/base.html' %}
{% block content %}
{% load staticfiles %}  

	{% if archive_latest_post_list %}

	    {% for post in archive_latest_post_list %}
	    
	    <div class="post_index">

			<div class="date">
	             {{ post.created_date }}
			</div>

	        <h1><a href="{% url 'calculation:detail'  post.id %}">{{ post.title}}</a></h1>

				<div class="csi_index" >
					
						<img id="csi_index_meter_needle" src="{% static 'img/calculation/svg-meter-gauge-needle.svg'%}" alt="">
						
					<img src="{% static 'img/calculation/schet.png'%}"/>

					<input id="slider"  value="{{post.csi}}"/>
					<p>CSI: {{post.csi}}</p>
			    		

				</div>


				<div class="loy_index">
					<div>
						<img id="loy_index_meter_needle" src="{% static 'img/calculation/svg-meter-gauge-needle.svg'%}" alt="">
					</div>
					<img src="{% static 'img/calculation/schet.png'%}"/>
					<p>Loyalty: {{post.loyalty}} <input id="slider"  value="{{post.loyalty}}"/></p>
			    		

				</div>
	    </div>

	    {% endfor %}

	    <script src="{% static 'js/calculation/script_index.js'%}"></script>
	
	{% else %}
	    <p>No calculations are available.</p>
	{% endif %}

{% endblock content %}