{% extends 'calculation/base.html' %}
{% block content %}
{% load staticfiles %}

<div class="post">
        <div class="date">
                {{ post.created_date }}
        </div>
	

	<h1>{{ post.title}}</h1>
	<p>Автор: {{ post.author }}</p>
	<p>Расчет произведен по файлу {{ post.file_name }} загруженному в {{ post.created_date }}</p>

	<div class="csi" >
		
			<img id="csi_meter_needle" src="{% static 'img/calculation/svg-meter-gauge-needle.svg'%}" alt="">
			
		<img src="{% static 'img/calculation/schet.png'%}"/>

		<input id="slider"  value="{{post.csi}}"/>
		<p>Индекс удовлетворенности: {{post.csi}}</p>
    		<script src="{% static 'js/calculation/script.js'%}"></script>

	</div>


	<div class="loy">
		<div>
			<img id="loy_meter_needle" src="{% static 'img/calculation/svg-meter-gauge-needle.svg'%}" alt="">
		</div>
		<img src="{% static 'img/calculation/schet.png'%}"/>
		<p>Индекс лояльности: {{post.loyalty}} <input id="slider"  value="{{post.loyalty}}"/></p>
    		<script src="{% static 'js/calculation/script.js'%}"></script>

	</div>

	<p>При увеличении удовлетворенности на <input id="" value=1></p> лояльность изменится на {{post.regress}}</p>
	<div class="example2">
		<h3>Матрица прогноза будущих продаж:</h3>
		<img src="{% static 'img/calculation/matr.png'%}"/>
		<span>
		<p id = "gr_one">{{ post.one }}%</p>
		<p id = "gr_two">{{ post.two }}%</p>
		<p id = "gr_three">{{ post.three }}%</p>
		<p id = "gr_four">{{ post.four }}%</p>
		<p id = "gr_five">{{ post.five }}%</p>
		</span>
	</div>

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

</div>
{% endblock content %}