#wrapper {
max-width: 960px;
width: 100%;
margin: 90 0 0 240px;
position: absolute;  
}

#post_count{
    color:#4B0082;
    font-size:70px; 
}

.row{
    z-index: 102;
}
.container {
    width: 900px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-md-8 {
    width: 100%;
}

.example2 {
    display:inline-block;   
    position:relative;
}

.example2 img{
    height:300px;

}

.example2 span {
    /* Оформление текста */
    color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px; 
     
    /* Фон */
    padding:10px 30px;
}

#gr_one{
    position:absolute;
    top:265px;   
    left:70px;
}

#gr_two{
    position:absolute;
    top:150px;   
    left:70px;
}

#gr_three{
    position:absolute;
    top:265px;   
    left:210px;
}

#gr_four{
    position:absolute;
    top:140px;   
    left:210px;
}

#gr_five{
    position:absolute;
    top:200px;   
    left:175px;
}

.csi, .loy{
    margin: 20px;
    display: inline-block;
    position: relative;
}

.csi img, .loy img{
    width:200px;
}

#csi_meter_needle{
	left: 94px;
    top: 37px;

    position: absolute;
    width: 12px;
    display: inline-block;
    transform-origin:bottom center;
    transform:rotate(265deg);
    z-index: 100;
}
#loy_meter_needle{
    width: 12px;
    left: 94px;
    top: 37px;

    position: absolute;
    display: inline-block;
    transform-origin:bottom center;
    transform:rotate(265deg);
    z-index: 100;
}

#slider {
left: 0;
margin: auto;
right: 0;
position: absolute;
visibility:hidden;
}

.csi_index, .loy_index{
    margin: 10px;
    display: inline-block;
    position:relative;
}

.csi_index img, .loy_index img{
    width:150px;
}

#csi_index_meter_needle{
    left: 70px;
    top: 28px;
    position: absolute;
    width: 9px;
    display: inline-block;
    transform-origin:bottom center;
    transform:rotate(265deg);
    z-index: 100;
}

#loy_index_meter_needle{
    width: 9px;
    left: 70px;
    top: 28px;
    position: absolute;
    display: inline-block;
    transform-origin:bottom center;
    transform:rotate(265deg);
    z-index: 100;
}

.page-header {
    background-color: #ffffff;
    margin-top: 0;
	right: 0px;
	left: 0px;
	height: 90px; 
    padding: 10px 100px 10px 70px;
	position: fixed;
	border-bottom: 1px solid #ccc5c5;
	z-index: 101;
    -webkit-box-shadow: 0 8px 6px -6px #777;
       -moz-box-shadow: 0 8px 6px -6px #777;
            box-shadow: 0 8px 6px -6px #777;
}

.page-header p{

}

/*.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #0000CD;
        font-size: 24pt;
        text-decoration: none;
	font-size: 2em;
	font-weight: normal;
}*/

.page-left {
	background-color: #f6f6f6;
	position: fixed;
    width: 240px;
	top: 90px; /* Расстояние от верхнего края */ 
	bottom: 0; /* Расстояние снизу  */
	z-index: 100;
}

/*.page-left h1, .page-left h1 a, .page-left h1 a:visited, .page-left h1 a:active {
        color: #0000CD;
        font-size: 36pt;
        text-decoration: none;
}*/



    h1, h2, h3, h4 {
        font-family: Lucida cursive,Times, serif;
        font-style: italic; /* Курсивное начертание */
        clear: both;
    }

    .date {
        /*position: relative;
        top: 5px;
        right: 20px;*/
        margin: 10px;
        float: right;
        color: #828282;
    }

    .save {
        float: right;
    }

    .post-form textarea, .post-form input {
        width: 100%; vcx
    }

    .top-menu, .top-menu:hover, .top-menu:visited {
    color: #4B0082;
    margin: 15 10 10 10px;
    float: right;
    font-family: Monotype Corsiva;
    font-size: 20pt;
	padding: 0 10 0 10px;
	border-radius: 5px;
	border: 3px solid #4B0082;
	background-color: #ffffff;
	text-decoration: none;
    }
/* НЕ РАБОТАЕТ ШРИФТ */
    @font-face {
    font-family: CenturyGothic; /* Гарнитура шрифта */
    src: url(C:\Users\sandr_000\django\calculation\static\ofont.ru_Century Gothic.ttf); /* Путь к файлу со шрифтом  */
   }
   h1 {
    font-family: CenturyGothic;
   }

    .top-title {
    color: #4B0082;
    margin: 10 10 10 10px;
    float: right;
    font-family: CenturyGothic;
    font-size: 30pt;
    padding: 0 10 0 10px;
    }

    .top-menu-left, .top-menu-left:hover, .top-menu-left:visited {
    color: #4B0082;
    margin: auto;
    font-family: Monotype Corsiva;
    font-size: 25pt;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 3px solid #4B0082;
    background-color: #f6f6f6;
    text-decoration: none;
    }

    .post_index {
    display: inline-block;
    width:370px;
    margin: 15px;
    border-radius: 30px;
    border: 1px solid #000000;
    background-color: rgba(246, 246, 246, 0.9);
    }

    .post {
	display: inline-block;
    width:700px;
    margin: 15px;
    border-radius: 30px;
    border: 1px solid #000000;
	background-color: rgba(246, 246, 246, 0.9);
    }

    .post_index h1 a, .post_index h1 a:visited {
        color: rgba(189,191,55, 1);
        font-size: 28px;
        text-decoration: none;
    }

    p {
        margin: 10 0 10 0px;
    }


.btn-default{
    float: left;
    margin: 10px;
}
